body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    color: blue;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-box {
    width: 200px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Smooth hover effect */
    transition: transform 0.4s;
}

.image-box img:hover {
    transform: scale(1.1);
}

